.grid-error {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-error img {
  max-width: 600px;
}

.container-error {
  height: 85vh !important;
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: white;
}

.content-erro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.content-erro h2 {
  font-size: 48px;
  font-weight: bold;
}

.content-erro p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #696969;
}

.content-erro a {
  background: #D51072;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 12px 40px;
}

.content-erro a:hover {
  background: #D51072;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 12px 40px;
}


@media (max-width: 768px) {
  .grid-error {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .grid-error img {
    max-width: 400px;
  }

  .content-erro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}