.nav {
  flex: 1;
  display: flex;
}

.btn-patterns {
  padding: 8px 10px;
  background: #D51072;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

a.btn-patterns-outline {
  padding: 8px 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D51072;
  margin: 0px 10px;
  color: #D51072;
}

a.btn-patterns-outline:hover {
  transition: .6s;
  border: 1px solid rgb(138, 7, 72);
  color: rgb(138, 7, 72);
}

a.btn-patterns-outline:focus {
  color: rgb(138, 7, 72);
}

.btn-patterns .btn-patterns-outline:hover {
  text-decoration: none;
}

.link-conta {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height, or 129% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
  text-decoration-line: underline;

  color: #232323;
}

a.professional-account {
  color: #333333;
  text-decoration: underline;
  transition: .5s;
}

a.professional-account:hover {
  transition: .5s;
  color: #0c0c0c;
  text-decoration: none;
}

a.professional-account:focus {
  color: #0c0c0c;
}

a.create-account {
  color: white;
}

a.create-account:hover {
  transition: .6s;
  color: white;
  background: rgb(138, 7, 72);
}

a.create-account:focus {
  color: white;
}
