@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}



.image-banner {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(270deg, #C4C4C4 9.21%, rgba(196, 196, 196, 0) 85.55%);
}

.bg-primary{ 
    background-image: url("./../../img/backgroud.png");
    background-size: cover;
    background-position: center;
}

.container {
    flex: 1;
    align-items: center;
    display: flex;

}


p,h2{
    color: white;
}

.btn-patterns .btn-patterns-outline:hover {
    text-decoration: none;
}

.font-weight-500 {
    font-weight: 800;
}

.link-conta {
    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-decoration-line: underline;

    color: #232323;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo img {
    width: 600px;
    height: 380px;
    border-radius: 10px;
}


