.color-bg-gray {
  background: #d7d7d0 !important;
}

.banner-formatting {
  margin-top: 60px;
  height: 374px;
  background-size: cover;
  background: white;
  background-position: center;
}

.banner-formatting article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-banner-formatting {
  height: 100%;
}

.content-banner-formatting h1 {
  z-index: 9999;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

.border-bottom {
  background: #D51072;
  border-radius: 13px;
  width: 217px;
  height: 6px;
  margin: 0px 1px 20px 0px;
}


.down-doc {
  background: #F2F2F2;
  padding: 15px 10px;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #D51072;
}

.add-doc {
  background: #D51072;
  padding: 15px 10px;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #f6f6f6;
}


.normas-formatacao {
  background: #FFFFFF;
}

.normas-formatacao h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  /* or 129% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #D51072;
}


.normas-formatacao p {

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */


  color: #666666;

}

.form-pergunta {
  border: 0px solid;
  width: 100%;
  border-bottom: 1px solid;
}


.proximo-passo {
  height: 200px;
  background: #e5e4e4;
}


.btn-patterns-next {

  padding: 10px 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: -0.02em;

  color: #FFFFFF;
  background: #D51072;
  border: 0px solid;
  border-radius: 10px;
}


@media (max-width: 1000px) {


  .form-select {
      width: 100%;
      margin: 4px 0px !important;
  }

  .content-left {
      margin-bottom: 10px;
  }

  .flex-xs-column {
      flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .form-select {
      width: 100%;
      margin: 4px 0px !important;
  }

  .flex-xs-column {
      flex-direction: column;
  }
}